<div
  class="container"
  [ngClass]="theme2 ? 'theme2' : ''"
  [ngClass]="theme3 ? 'theme3' : ''"
>
  <div class="calculator-container">
    <div class="calculator-title-container">
      <span class="caluclator-title">calc</span>
      <div class="toggle-container">
        <span class="toggle-title">THEME</span>
        <div class="toggle-main-container">
          <div class="toggle-value">
            <span class="title">1</span>
            <span class="title">2</span>
            <span class="title">3</span>
          </div>
          <div class="toggle-main">
            <div
              class="toggle-btn move-right-{{ theme }}"
              (click)="onClickToggleBtn()"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <input
      type="text"
      class="input-field"
      [(ngModel)]="value"
      [disabled]="true"
    />
    <div class="keypad-container">
      <div class="keypad">
        <ng-container *ngFor="let key of keys">
          <button
            (click)="onClickBtn(key)"
            [ngClass]="key === 'DEL' ? 'reset-color' : ''"
            class="key"
          >
            {{ key }}
          </button>
        </ng-container>
      </div>
      <div class="lower-container">
        <button class="reset reset-color" (click)="onClickReset()">
          RESET
        </button>
        <button class="equal equal-color" (click)="onClickEqual()">=</button>
      </div>
    </div>
  </div>
</div>
